@import "src/shared/styles/scss/shared";

.login-page {
    padding-top: 9%;
    @include d-flex {
        justify-content: getJustify(c);
        align-items: getAlign(c);
    }
}

.login-page__form {
    width: 230px;
}

.login-page__reminder_button {
    background-color: transparent;
    @include font-source-sans (1rem, black, normal );
    display: block;
    margin: 0 auto;
}

.form-field-label {
    display: block;
    @include font-source-sans (1rem, black, normal );
}

.form-field {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $background-color--fields;
}

.form-submit-button-container {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.form-submit-button {
    border: none;
    border-radius: 5px;
    background-color: $background-color--secondary-elements;
    @include font-source-sans (1rem, white, 700 );
    padding: 0 30px;
}
