@import "src/shared/styles/scss/shared";

.form {

    &-label-primary {
        display: block;
        @include font-source-sans (1rem, black, normal);
    }

    &-label-secondary {
        display: inline-block;
        @include font-source-sans (1rem, black, normal);
        margin-left: 10px;
    }

    &-field-primary {
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        background-color: $background-color--secondary;
    }

    &-field-secondary {
        margin-bottom: 15px;
    }

    &-field-file--uk {
        margin-bottom: 15px;
        outline: none;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::before {
            content: 'Оберіть файл';
            display: inline-block;
            background-color: $background-color--secondary;
            border: 1px solid #999;
            border-radius: 3px;
            padding: 3px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 400;
            font-size: 13px;
        }

        &:hover::before {
            border-color: black;
        }
    }

    &-field-file--en {
        margin-bottom: 15px;
        outline: none;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::before {
            content: 'Choose file';
            display: inline-block;
            background-color: $background-color--secondary;
            border: 1px solid #999;
            border-radius: 3px;
            padding: 3px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 400;
            font-size: 13px;
        }

        &:hover::before {
            border-color: black;
        }
    }
}














