@import '../../../../shared/styles/scss/style.scss';
@import '~antd/dist/antd.css';

.processes-page {

    height: 355px;
    @include font-source-sans(black, 700);
    font-size: 30px;
}

.table_text {
    font-size: 14px;
    font-weight: 400;
}


