@import '../../../../shared/styles/scss/style.scss';

.processes-page {
    @include d-flex {
        justify-content: getJustify(c);
        align-items: getAlign(c);
    }
    height: 355px;
    @include font-source-sans(black, 700);
    font-size: 30px;
}
